*.pid
*.xml
*.csr
*.crt
*.key
*.bak
*.old
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
nmap_ips.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
home-assistant.log.txt
emulated_hue_ids.json
pyozw.sqlite
.*
!/.gitignore
